body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noto-sans {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.orang {
  color: #ffffff;
  background-color: #bb2701;
  border: 0px;
  padding: 5px 10px;
  width: fit-content;
}
.orang:hover {
  color: #ffffff;
  background-color: #000000;
}
.blacky {
  color: black;
  background-color: #ffffff;
}

.titles {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.sub-titles {
  font-optical-sizing: 12px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.divider {
  position: relative;
  width: 100%;
  margin: 80px 0px;
}
.center-diamond {
  background-color: #ffffff00;
}
.center-diamond::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 7px solid #bb2701;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
}
.center-diamond::after {
  content: "";
  width: 170px;
  height: 0.5px;
  display: inline-block;
  border: 1px solid #bb260142;
  position: absolute;
  left: 51%;
  transform: translateX(-50%);
}
.lang-en {
 font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  direction: ltr;
  text-align: left;
}

/* Font for Arabic */
.lang-ar {
  font-family: "Tajawal" !important;
  direction: rtl;
  text-align: right;
}
